<div class="content-header">
  <h3>
    Danh sách người nhận
  </h3>
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <div class="card card-primary">
          <ngx-datatable
            class="material"
            [rows]="listReminders"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="100"
            [sorts]="[{ prop: 'Id', dir: 'asc' }]"
          >
            <ngx-datatable-column name="Số tài khoản">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Idaccount }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tên gợi nhớ">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Name }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tác vụ">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <button
                  data-toggle="modal"
                  data-target="#formModal"
                  class="btn btn-primary"
                  (click)="editRecipient(row)"
                  style="margin-right: 5px;"
                >
                  <i class="fas fa-receipt"></i>
                </button>

                <button
                  class="btn btn-danger"
                  (click)="deleteRecipient(row.Idaccount)"
                  style="margin-right: 5px;"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </ng-template>
              <!-- Tác vụ gồm: Xóa và điều chỉnh thông tin -->
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</section>
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#formModal"
  (click)="resetForm()"
>
  Thêm người nhận
</button>
<button
  class="btn btn-default"
  type="button"
  routerLink="/customer"
  style="margin-left: 10px; margin-right: 20px;"
>
  Quay lại
</button>
<!-- Modal -->
<div
  #formModal
  class="modal fade"
  id="formModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="formModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="!isEdited">Thêm người nhận</h5>
        <h5 class="modal-title" *ngIf="isEdited">Chỉnh sửa người nhận</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSubmit" (ngSubmit)="onSubmit()">
          <!-- <div class="card-body"> -->
          <div class="form-group">
            <label>Tài khoản</label>
            <input
            (blur)="checkName()"
              type="text"
              class="form-control"
              placeholder="Id tài khoản"
              formControlName="Idaccount"
              [ngClass]="{
                'is-invalid': f.Idaccount.errors && submitted && nameInvalid,
                'is-valid': !f.Idaccount.errors && submitted && !nameInvalid
              }"
            />
            <div *ngIf="f.Idaccount.errors && submitted" class="text-red">
              <div *ngIf="f.Idaccount.errors.required">
                Vui lòng không bỏ trống field này!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Tên gợi nhớ</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nhập tên gợi nhớ"
              formControlName="Name"
            />
          </div>
          <!-- </div> -->
          <!-- /.card-body -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Đóng
        </button>
        <button type="button" (click)="onSubmit()" class="btn btn-primary">
          Lưu
        </button>
      </div>
    </div>
  </div>
</div>
