<div class="row">
  <div class="col-lg-4">
    <!-- small card -->
    <div class="small-box bg-info">
      <div class="inner height-100">
        <h4>Danh sách tài khoản</h4>
      </div>
      <div class="icon">
        <i class="fa fa-user-circle-o"></i>
      </div>
      <a routerLink="/customer/list-account" class="small-box-footer">
        Chi tiết <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-4">
    <!-- small card -->
    <div class="small-box bg-success">
      <div class="inner height-100">
        <h4>Danh sách người nhận</h4>
      </div>
      <div class="icon">
        <i class="fa fa-user-circle-o"></i>
      </div>
      <a routerLink="/customer/list-recipients" class="small-box-footer">
        Chi tiết <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-4">
    <!-- small card -->
    <div class="small-box bg-warning">
      <div class="inner height-100">
        <h4>Chuyển khoản</h4>
      </div>
      <div class="icon">
        <i class="fa fa-exchange"></i>
      </div>
      <a routerLink="transfer" class="small-box-footer">
        Chi tiết <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <!-- small card -->
    <div class="small-box bg-danger">
      <div class="inner height-100">
        <h4>Quản lý nhắc nợ</h4>
      </div>
      <div class="icon">
        <i class="fa fa-user-circle-o"></i>
      </div>
      <a routerLink="/customer/debit" class="small-box-footer">
        Chi tiết <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div><div class="col-lg-4">
    <!-- small card -->
    <div class="small-box bg-info">
      <div class="inner height-100">
        <h4>Lịch sử giao dịch</h4>
      </div>
      <div class="icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <a routerLink="/customer/history" class="small-box-footer">
        Chi tiết <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <!-- ./col -->
</div>
<!-- ./col -->

