<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Đổi mật khẩu</h1>
      </div>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Đổi mật khẩu</h3>
          </div>
          <form
            [formGroup]="formSubmit"
            (ngSubmit)="onSubmit()"
          >
            <div class="card-body">
              <div class="form-group">
                <label>Mật khẩu cũ</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="pw"
                  formControlName="oldPassword"
                />
                <div *ngIf="f.oldPassword.errors" class="error invalid-feedback">
                  <div *ngIf="f.oldPassword.errors.required">Password is required</div>
                  <div *ngIf="f.oldPassword.errors.minlength">Password must be at least 6 characters</div>
              </div>
              </div>
              <div class="form-group">
                <label>Mật khẩu mới</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="new pw"
                  formControlName="newPassword"
                />
                <div *ngIf="f.newPassword.errors" class="error invalid-feedback">
                  <div *ngIf="f.newPassword.errors.required">Password is required</div>
                  <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
              </div>
              </div>
              <div class="form-group">
                <label>Xác nhận mật khẩu mới</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="confirm"
                  formControlName="confirmPassword"
                />
                <div *ngIf="f.confirmPassword.errors" class="error invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
              </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="formSubmit.invalid"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
