<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Đổi mật khẩu</h1>
      </div>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Đổi mật khẩu</h3>
          </div>
          <form [formGroup]="formSubmit" (ngSubmit)="onSubmit()">
            <div class="card-body">
              <div class="form-group">
                <label>Mật khẩu cũ</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Nhập mật khẩu cũ"
                  formControlName="oldPassword"
                  [ngClass]="{
                    'is-invalid': f.oldPassword.errors && submitted,
                    'is-valid': !f.oldPassword.errors && submitted
                  }"
                />
                <div
                  *ngIf="f.oldPassword.errors && submitted"
                  class="text-danger"
                >
                  <div *ngIf="f.oldPassword.errors.required">
                    Vui lòng không bỏ trống trường này!
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Mật khẩu mới</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Nhập mật khẩu mới"
                  formControlName="newPassword"
                  [ngClass]="{
                    'is-invalid': f.newPassword.errors && submitted,
                    'is-valid': !f.newPassword.errors && submitted
                  }"
                />
                <div
                  *ngIf="f.newPassword.errors && submitted"
                  class="text-danger"
                >
                  <div *ngIf="f.newPassword.errors.required">
                    Vui lòng không bỏ trống field này!
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Xác nhận mật khẩu mới</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Xác nhận mật khẩu"
                  formControlName="confirmPassword"
                  [ngClass]="{
                    'is-invalid':
                      f.confirmPassword.errors && submitted,
                    'is-valid':
                      !f.confirmPassword.errors && submitted
                  }"
                />
                <div
                  *ngIf="f.confirmPassword.errors && submitted"
                  class="text-danger"
                >
                  <div *ngIf="f.confirmPassword.errors.mustMatch">
                    Mật khẩu không trùng khớp!
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button
                type="submit"
                class="btn btn-primary"
              >
                Lưu
              </button>
              <button
                class="btn btn-default"
                type="button"
                routerLink="/customer"
                style="margin-left: 10px; margin-right: 20px;"
              >
                Quay lại
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
