<div class="content-header">
    <h3>
      Lịch sử giao dịch
    </h3>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <div class="card card-primary">
  
            <ngx-datatable class="material" [rows]="payRows" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="100" [sorts]="[{ prop: 'Id', dir: 'asc' }]">
              <ngx-datatable-column name="Người gửi">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.Id }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Ngân hàng người gửi">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.Id }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Người nhận">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.Id }}
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column name="Ngân hàng người nhận">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.Amount }}
                </ng-template>
              </ngx-datatable-column>
               
         
              <ngx-datatable-column name="Loại giao dịch">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.Id }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Số tiền">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.Id }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Ngày giao dịch">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.Id }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  