<div class="content-header">
  <h3>
    Danh sách tài khoản
  </h3>
</div>
<button routerLink="/admin/view-transaction" style="margin-left: 10px; margin-right: 10px;margin-bottom: 10px;">Xem giao dịch</button>
<button routerLink="/admin/create">Tạo mới tài khoản</button>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <div class="card card-primary">
          
          <ngx-datatable
            class="material"
            [rows]="accRows"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="100"
            [sorts]="[{ prop: 'Id', dir: 'asc' }]"
          >
            <ngx-datatable-column name="Id" prop="Id">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Id }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Họ Tên">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Name }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Phân Quyền">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Permission }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Hành động" >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <button md-icon-button (click)="lock(row.Id)" style="margin-right: 5px;"> 
                  <i class="fa fa-lock"></i>
                </button>

                <button md-icon-button (click)="unlock(row.Id)" style="margin-right: 5px;">
                  <i class="fa fa-unlock"></i>
                </button>

                <button md-icon-button [routerLink]="['/admin/info-edit', row.Id]">
                  <i class="fa fa-edit"></i>
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</section>
