<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3>Chuyển tiền</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="formSubmit" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Ngân hàng</label>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="in"
                    formControlName="type"
                  />
                  <label class="form-check-label">Chuyển khoản nội bộ</label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="ext"
                    formControlName="type"
                  />
                  <label class="form-check-label"
                    >Chuyển khoản liên ngân hàng</label
                  >
                </div>
              </div>
              <div class="form-group">
                <label>Tên gợi nhớ</label>
                <ng-select formControlName="Idreminder" 
                (change)="setIdValue()">
                  <ng-option
                    *ngFor="let per of listReminders; let i = index"
                    [value]="per.Idaccount"
                    >{{ per.Name }}</ng-option
                  >
                </ng-select>
                <div class="text-blue">
                  Chưa có tên gợi nhớ? Tạo mới
                  <strong
                    style="cursor: pointer;"
                    data-toggle="modal"
                    data-target="#formModal"
                    (click)="resetForm()"
                    >tại đây</strong
                  >
                </div>
              </div>
              <div class="form-group">
                <label>Số tài khoản</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="Id"
                  (blur)="checkName()"
                />
              </div>
              <div class="form-group">
                <label>Tên tài khoản</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="Name"
                />
              </div>
              <div class="form-group">
                <label>Số tiền (VND)</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="Amount"
                />
              </div>
              <div class="form-group">
                <label>Mô tả (Không bắt buộc)</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="Content"
                />
              </div>
              <div class="form-group">
                <label>Hình thức thanh toán phí</label>
                <ng-select formControlName="charge">
                  <ng-option [value]="true">Người nhận trả phí</ng-option>
                  <ng-option [value]="false">Người gửi trả phí</ng-option>
                </ng-select>
              </div>
              <div class="form-group" style="width: 500px;">
                <label>OTP</label>
                <div class="row">
                  <div class="col-md-8">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="token"
                    />
                  </div>
                  <div class="col-md-3">
                    <button
                      type="button"
                      (click)="sendOTP()"
                      class="btn btn-block bg-gradient-info btn-"
                    >
                      Gửi OTP
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSubmit()"
        >
          Lưu
        </button>
        <button
          class="btn btn-default"
          type="button"
          routerLink="/customer"
          style="margin-left: 10px; margin-right: 20px;"
        >
          Quay lại
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Modal add -->
<div
  #formModal
  class="modal fade"
  id="formModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="formModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm người nhận</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAdd" (ngSubmit)="onAddRecipients()">
          <!-- <div class="card-body"> -->
          <div class="form-group">
            <label>Tài khoản</label>
            <input
              type="text"
              class="form-control"
              placeholder="Id tài khoản"
              formControlName="Idaccount"
              [ngClass]="{
                'is-invalid': f1.Idaccount.errors && submitted && nameInvalid,
                'is-valid': !f1.Idaccount.errors && submitted && !nameInvalid
              }"
            />
            <div *ngIf="f1.Idaccount.errors && submitted" class="text-red">
              <div *ngIf="f1.Idaccount.errors.required">
                Vui lòng không bỏ trống field này!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Tên gợi nhớ</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nhập tên gợi nhớ"
              formControlName="Name"
            />
          </div>
          <!-- </div> -->
          <!-- /.card-body -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Đóng
        </button>
        <button
          type="button"
          (click)="onAddRecipient()"
          class="btn btn-primary"
        >
          Lưu
        </button>
      </div>
    </div>
  </div>
</div>
