<div class="content-header">
  <h3>
    Thống kê giao dịch
  </h3>
</div>
<div class="row">
  <div class="col-sm-4">
    <mat-form-field style="margin-left:20px">
      <input matInput ngxDaterangepickerMd showCancel="true" placeholder="Choose date" [(ngModel)]="selected"
        [showDropdowns]="true" [lockStartDate]="false" [customRangeDirection]="false"
        (ngModelChange)="ngModelChange($event)" (change)="change($event)" /></mat-form-field>
  </div>

  <div class="col-sm-4">
    <!-- select -->
    <div class="form-group">
      <label>Ngân hàng</label>
      <select class="custom-select">
        <option>Tất cả</option>
        <option>Ngân hàng 1</option>

      </select>
    </div>
  </div>

  <div class="col-sm-4">
    <label>Tổng số tiền giao dịch: </label>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Nhắc nợ</h3>
          </div>
          <ngx-datatable class="material" [rows]="debitRows" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="100" [sorts]="[{ prop: 'Id', dir: 'asc' }]">
            <ngx-datatable-column name="Id" prop="Id">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Id }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tài khoản chuyển">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Fromacount }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Tài khoản nhận">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Toacount }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Số tiền">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Amount }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ngày giao dịch">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Date }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Ngân hàng">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Bank }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row">
  <div class="col-sm-4">
    <mat-form-field style="margin-left:20px">
      <input matInput ngxDaterangepickerMd showCancel="true" placeholder="Choose date" [(ngModel)]="selected"
        [showDropdowns]="true" [lockStartDate]="false" [customRangeDirection]="false"
        (ngModelChange)="ngModelChange($event)" (change)="change($event)" /></mat-form-field>
  </div>

  <div class="col-sm-4">
    <!-- select -->
    <div class="form-group">
      <label>Ngân hàng</label>
      <select class="custom-select">
        <option>Tất cả</option>
        <option>Ngân hàng 1</option>

      </select>
    </div>
  </div>

  <div class="col-sm-4">
    <label>Tổng số tiền giao dịch: </label>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Thanh toán</h3>
          </div>
          <ngx-datatable class="material" [rows]="tranRows" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="100" [sorts]="[{ prop: 'Id', dir: 'asc' }]">
            <ngx-datatable-column name="Id" prop="Id">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Id }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tài khoản chuyển">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Fromacount }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Tài khoản nhận">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Toacount }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Số tiền">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Amount }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ngày giao dịch">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Date }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nội dung">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Content }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Chữ ký">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Sign }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ngân hàng">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.Bank }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</section>
<button class="btn btn-primary" type="button" routerLink="/admin" style="margin-left: 20px">Quay lại</button>