<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Quên mật khẩu</h1>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Quên mật khẩu</h3>
            </div>
            <form [formGroup]="formSubmit" (ngSubmit)="onSubmit()">
              <div class="card-body">
                <div class="form-group">
                  <label>Tên tài khoản</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Name"
                    [ngClass]="{
                      'is-invalid': f.Name.errors && f.Name.dirty,
                      'is-valid': !f.Name.errors && f.Name.dirty
                    }"
                  />
                  <div
                    *ngIf="f.Name.errors && f.Name.dirty"
                    class="text-danger"
                  >
                    <div *ngIf="f.Name.errors.required">
                      Vui lòng không bỏ trống field này!
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Mật khẩu mới</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="new pw"
                    formControlName="Password"
                    [ngClass]="{
                      'is-invalid': f.Password.errors && f.Password.dirty,
                      'is-valid': !f.Password.errors && f.Password.dirty
                    }"
                  />
                  <div
                    *ngIf="f.Password.errors && f.Password.dirty"
                    class="text-danger"
                  >
                    <div *ngIf="f.Password.errors.required">
                      Vui lòng không bỏ trống field này!
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Xác nhận mật khẩu mới</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="confirm"
                    formControlName="confirmPassword"
                    [ngClass]="{
                      'is-invalid':
                        f.confirmPassword.errors && f.confirmPassword.dirty,
                      'is-valid':
                        !f.confirmPassword.errors && f.confirmPassword.dirty
                    }"
                  />
                  <div
                    *ngIf="f.confirmPassword.errors && f.confirmPassword.dirty"
                    class="text-danger"
                  >
                    <div *ngIf="f.confirmPassword.errors.mustMatch">
                      Mật khẩu không trùng khớp!
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <label>OTP</label>
                    <div class="row">
                      <div class="col-md-4">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="token"
                        />
                      </div>
                      <div class="col-md-2">
                        <button
                          type="button"
                          (click)="sendOTP()"
                          class="btn btn-block bg-gradient-info"
                        >
                          Gửi OTP
                        </button>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="formSubmit.invalid"
                >
                  Lưu
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  