<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Sửa tài khoản</h1>
      </div>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Sửa</h3>
          </div>
          <form [formGroup]="formSubmit" (ngSubmit)="onSubmit()">
            <div class="card-body">
              <div class="form-group">
                <label>Tên</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="pw"
                  formControlName="Name"
                />
              </div>
              <div class="form-group">
                <label>Email</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="pw"
                  formControlName="Email"
                />
                <div *ngIf="f.Email.errors" class="error invalid-feedback">
                  <div *ngIf="f.Email.errors.required">
                    Required!
                  </div>
                  <div *ngIf="f.Email.errors.email">
                    Email type!
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Sdt</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="pw"
                  formControlName="Phone"
                />
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="formSubmit.invalid"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<button class="btn btn-primary" type="button" routerLink="/admin">Quay lại</button>
