<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Sửa tài khoản</h1>
      </div>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          
          <form [formGroup]="formSubmit" (ngSubmit)="onSubmit()">
            <div class="card-body">
              <div class="form-group">
                <label>Họ Tên</label>
                <input type="text" class="form-control" placeholder="Nhập họ tên" formControlName="Name" />
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Nhập Email" formControlName="Email" />
                <div *ngIf="f.Email.errors" class="error invalid-feedback">
                  <div *ngIf="f.Email.errors.required">
                    Required!
                  </div>
                  <div *ngIf="f.Email.errors.email">
                    Email type!
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Số điện thoại</label>
                <input type="text" class="form-control" placeholder="Nhập SĐT" formControlName="Phone" />
              </div>

              <div class="form-group">
                <label>Phân quyền</label>
                <!-- Thiếu phân quyền -->
                <select class="custom-select">
                  <option>Chọn phân quyền</option>
                </select>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <div class="row">
                <button class="btn btn-default float-right" type="button" routerLink="/admin"
                  style="margin-left: 20px">Quay lại</button>
                <button type="submit" class="btn btn-primary" [disabled]="formSubmit.invalid" style="margin-left:10px">
                  Submit
                </button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>